@import model.{CategoryId, ProductId}

@(categoryId: CategoryId, categoryName: Either[String, Option[String]], xs: Option[Seq[(ProductId, Option[String])]])

@categoryName match {
  case Left(message) => {
    <title>@message</title>
    <h1>@message</h1>
  }
  case Right(opt) => {
    @opt match {
      case None => {
        <title>Category: Id '@categoryId', name is not provided</title>
        <h1>Category: Id '@categoryId', name is not provided</h1>
      }
      case Some(name) => {
        <title>Category: @name</title>
        <h1>Category: @name</h1>

        @xs match {
          case None => { <h2>No products in the selected category</h2> }
          case Some(products) => {
            <ul>
            @for(product <- products) {
                @product._2 match {
                  case None => {
                    <li>
                      Product Id: @product._1 - no product information
                    </li>
                  }
                  case Some(name) => {
                    <li>
                      <a href="@routes.ProductController.product(product._1)">@name</a>
                    </li>
                  }
                }
            }
            </ul>
          }
        }
      }
    }
  }
}
